<header>
    <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('offerings') }}">Offerings</a></li>
                
                {% if user %}
                    {% if user.role == 'admin' %}
                        <li><a href="{{ url_for('new_offering') }}">Create Offering</a></li>
                        <li><a href="{{ url_for('all_bookings') }}">All Bookings</a></li>
                        <li><a href="{{ url_for('admin_users') }}">All Users</a></li>
                    {% elif user.role == 'instructor' %}
                        <li><a href="{{ url_for('instructor_bookings') }}">My Bookings</a></li>
                    {% elif user.role == 'user' %}
                        <li><a href="{{ url_for('my_bookings') }}">My Bookings</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
</header>
