<header>
    <nav>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('offerings') }}">Offerings</a></li>
        {% if user and user.role == 'admin' %}
            <li><a href="{{ url_for('new_offering') }}">Create Offering</a></li>
        {% elif user and user.role == 'user' %}
            <li><a href="{{ url_for('my_bookings') }}">My Bookings</a></li>
        {% endif %}
        {% if user %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
    </nav>
</header>
